:root {
  --headerColor: #1e3450;
  --footerColor: #d6d6d6;
  --color1: #3fc1c9;
  --color2: #f5f5f5;
  --color3: #fc5185;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
}

.footer {
  background-color: var(--color2);
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  border-top: #0f0f0f solid 1px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: var(--color2);
  color: floralwhite;
  border-bottom: #0f0f0f 1px solid;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: var(--headerColor);
}

.list-unstyled > li > a {
  color: black;
}

.social-icons > a {
  margin-left: 2%;
}

.card > ul > li > a {
  color: black;
}
.card {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary {
  background-color: var(--headerColor);
  border-color: transparent;
  font-size: 17px;
  /* font-weight: bold; */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: var(--color1);
  border-color: #494f57;
}

.headerQuestion {
  color: #0f0f0f;
}

ul {
  color: black;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.caption {
  display: block;
}

.co-founders-imgs {
  border-radius: 50%;
  border: 2px solid #fff;
  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 8px 8px 5px #ccc;
  /* -moz-border-radius: 25px; */
  /* -webkit-border-radius: 25px; */
}
